.large-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    z-index: 1;
    background-image: url('../img/bg.png');
}