.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.stop-point {
    pointer-events: none;
}

.az-md-perspective,
.az-md-perspective body {
    height: 100%;
    overflow: hidden;
}

.az-md-perspective body {
    background: #222;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
}

.az-md-container {
    background: #5a5a5a;
    min-height: 100%;
}

.az-md-modal {
    position: fixed;
    top: 10%;
    left: 0;
    width: 50%;
    margin-left: 25%;
    height: 80%;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.az-md-show {
    visibility: visible;
}

.az-md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(143, 27, 15, 0.8);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.az-md-show ~ .az-md-overlay {
    opacity: 1;
    visibility: visible;
}

.az-md-content {
    overflow: hidden;
    color: #fff;
    background: #5a5a5a;
    height: 100%;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    pointer-events: none;
}

.az-md-content > p {
    color: #ffd700;
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 0 0;
}

.az-md-content > div {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
}

.az-md-content > div p {
    margin: 0;
    padding: 10px 0;
    color: aquamarine;
}

.az-md-content > div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}

.az-md-content > div ul li {
    padding: 5px 0;
}

.az-md-content button {
    background-color: transparent;
    display: inline-block;
    font-size: 30px;
    float: right;
    pointer-events: all !important;
}

.az-md-content button i {
    vertical-align: middle;
}

.az-md-close {
    background-color: black;
    color: white;
    border: 0;
}

.az-md-modal {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.az-md-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-60deg);
    -moz-transform: rotateX(-60deg);
    -ms-transform: rotateX(-60deg);
    transform: rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.az-md-show .az-md-content {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .az-md-modal {
        width: 100%;
        margin-left: 0;
    }
}