.az-tabs {
    position: absolute;
    overflow: hidden;
    width: 100%;
    font-weight: 300;
    font-size: 1.25em;
}

.az-tabs-section {
    position: relative;
}

.az-tabs {
    position: relative;
    text-align: center;
}

.az-tabs ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    width: 100%;
}

.az-tabs ul li {
    width: 25%;
    float: left;
    height: 60px;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.az-tabs a {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 0.2em 0.4em;
    height: 60px;
    font-size: 0.8em;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    width: 100%;
    margin: auto 0;
}

.az-tabs a span {
    vertical-align: middle;
    text-decoration: none;
}

.az-tabs a:hover {
    color: #00bfff;
    text-decoration: none;
}

.az-tabs li.az-tab-current a {
    border-bottom: none;
    color: #00bfff;
    width: 100%;
}

.az-image-icon {
    height: 40px;
    margin: 10px;
    vertical-align: middle;
}


/* Content */

.az-content-wrap {
    font-size: 0;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 58em) {
    .az-tabs a span {
        display: none;
    }
    .az-tabs a:before {
        margin-right: 0;
    }
}