.az-project-description {
    display: block;
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.az-project-description a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.az-project-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    height: 50%;
}

.az-project-section {
    display: none;
    position: absolute;
    padding-top: 1%;
    padding-bottom: 2.5%;
    text-align: center;
    width: 100%;
    min-height: 620px;
}

#aws div {
    padding: 0;
    margin: 4.16%;
}

.az-project-container {
    width: 100%;
    overflow: hidden;
    height: auto;
    padding-top: 100%;
    text-align: center;
    cursor: pointer;
}

.az-project-container img {
    position: absolute;
    height: 50%;
    width: 50%;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    -webkit-transform: left top;
    -moz-transform: left top;
    -ms-transform: left top;
    -o-transform: left top;
    transform-origin: left top;
}

.az-project-container .top-image {
    top: 0;
    left: 0;
    z-index: 3;
}

.az-project-container .bottom-image {
    z-index: 3;
    opacity: 0.4;
    right: 0;
    bottom: 0;
    -webkit-transform: right bottom;
    -moz-transform: right bottom;
    -ms-transform: right bottom;
    -o-transform: right bottom;
    transform-origin: right bottom;
}

.az-project-container figcaption {
    height: 100%;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.az-project-container figcaption::before,
.az-project-container figcaption::after {
    pointer-events: none;
}

.az-project-container figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.az-project-container h2 {
    opacity: 0;
    top: 50%;
    left: 25%;
    width: 50%;
    height: 50%;
}

.az-project-container:hover figcaption > i {
    color: white;
    font-size: 3vw;
    left: 20%;
    top: 70%;
    position: absolute;
}

.az-project-container:hover figcaption > i:hover:before {
    content: "\f08e";
}

#twitter,
#facebook {
    background-color: #c9e5fa;
}

#uber {
    background-color: #8e8e8e;
}

#twitter:hover > i:hover,
#facebook:hover > i:hover {
    color: #ff9f95;
}

#uber:hover > i:hover {
    color: #ffc200
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(45deg);
    }
}

@-ms-keyframes spin {
    100% {
        -ms-transform: rotate(45deg);
    }
}

@-o-keyframes spin {
    100% {
        -o-transform: rotate(45deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(45deg);
    }
}

.az-project-container img {
    opacity: 0.9;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -ms-transform: -moz-transform 0.4s;
    -o-transform: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.az-project-container:hover img {
    position: relative;
    display: block;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.az-project-container:hover .top-image {
    position: absolute;
    display: block;
    -webkit-transform: left top;
    -moz-transform: left top;
    -ms-transform: left top;
    -o-transform: left top;
    transform-origin: left top;
    opacity: 0.8;
}

.az-project-container:hover .bottom-image {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    -webkit-transform: right bottom;
    -moz-transform: right bottom;
    -ms-transform: right bottom;
    -o-transform: right bottom;
    transform-origin: right bottom;
    opacity: 1;
}

.az-project-container:hover h2 {
    font-size: 1.5vw;
    position: absolute;
    top: 10%;
    left: 5%;
    height: 20px;
    padding-left: 50%;
    text-align: left;
    width: 50%;
    display: block;
    opacity: 1.0;
    color: #00bfff;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.az-project-container h2 span {
    display: block;
}

.az-project-container:hover h2 span {
    color: white;
    width: 100%;
    text-align: left;
}

.az-project-container:hover h2 p {
    color: #00bfff;
    display: none;
    margin: 0;
    height: 5%;
    display: table-cell;
}

#aws {
    background-color: #2cd9d0;
}

#search-engine {
    background-color: #808080;
}

#mobile-app {
    background-color: #ffe4e1;
}

#web-app {
    background-color: #00d4ff;
}

#search-engine h3 {
    margin-bottom: 10%;
}

#search-engine div {
    margin-bottom: 20%;
}

#search-engine > div > h4 {
    text-align: left;
}

#pa {
    border-radius: 8px;
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

#mobile-app > i {
    display: inline-block;
    font-size: 50px;
    font-weight: 600;
    position: relative;
    top: calc(50% - 50px);
}

.az-feature-row {
    max-width: 900px;
    min-height: 260px;
    max-height: 350px;
    background: no-repeat 18% 5px;
    background-size: 220px 220px;
    display: block;
    margin: 70px auto;
}

.az-feature-row h3 {
    padding-right: 35px;
    padding-left: 55%;
    padding-bottom: 5%;
}

.az-feature-row p {
    color: #858f9f;
    font-weight: 300;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    padding-right: 35px;
    padding-left: 55%;
    line-height: 26px;
    text-align: left;
}

.az-mobile-right-image h3 {
    padding-right: 56%;
    padding-left: 30px;
}

.az-mobile-right-image p {
    padding-right: 56%;
    padding-left: 30px;
    line-height: 26px;
}

.az-mobile-right-image {
    background-position: 77% 5px;
}

.az-mobile-ionic {
    background-image: url("../img/ionic_logo.png");
}

.az-mobile-angular {
    background-image: url("../img/angularjs-logo.png");
}

.az-mobile-googlemap {
    background-image: url("../img/googlemap-logo.png");
}

#mobile-project > div > img {
    width: 300px;
}

#leftSign {
    float: left;
    font-size: 40px;
    margin-top: 10%;
}

#leftSign:hover {
    color: #00bfff;
}

#rightSign {
    float: right;
    font-size: 40px;
    margin-top: 10%;
}

#rightSign:hover {
    color: #00bfff;
}

#mobile-project {
    text-align: center;
    width: 100%;
    height: 650px;
    display: block;
    border-bottom: thick groove #ffd700;
}

#mobile-project i {
    position: relative;
}

#mobile-project > div > p {
    text-align: center;
    display: block;
    padding-top: 10%;
    width: 100%;
    font-size: 20px;
}

#image1 {
    display: inline-block;
}

#image2 {
    display: none;
}

#image3 {
    display: none;
}

#image4 {
    display: none;
}

#mobileImage {
    height: 80%;
    margin: 2% 2%;
}

#mobile-project.closed {
    -webkit-animation: fadeOut 0.5s 0s 1 ease-in-out;
    -moz-animation: fadeOut 0.5s 0s 1 ease-in-out;
    -ms-animation: fadeOut 0.5s 0s 1 ease-in-out;
    -o-animation: fadeOut 0.5s 0s 1 ease-in-out;
    animation: fadeOut 0.5s 0s 1 ease-in-out;
}

#mobile-project.open {
    -webkit-animation: fadeIn 0.5s 0s 1 ease-in-out;
    -moz-animation: fadeIn 0.5s 0s 1 ease-in-out;
    -ms-animation: fadeIn 0.5s 0s 1 ease-in-out;
    -o-animation: fadeIn 0.5s 0s 1 ease-in-out;
    animation: fadeIn 0.5s 0s 1 ease-in-out;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#mobileDescription {
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 992px) {
    #aws div {
        margin: 0;
        margin-top: 10%;
        margin-left: 25%;
    }
    #aws:hover h2 {
        font-size: 30px;
    }
    #aws:hover figcaption > i {
        font-size: 50px;
    }
    #search-engine div {
        margin-left: 0;
    }
    .az-feature-row {
        background-size: 140px 140px;
    }
}

@media only screen and (max-width: 768px) {
    #aws div {
        margin: 15%;
    }
    #aws:hover h2 {
        font-size: 20px;
    }
    #aws:hover figcaption > i {
        font-size: 40px;
    }
    .az-feature-row {
        margin: auto 10px;
        min-height: 150px;
        max-width: 900px;
        background: no-repeat 0 32px;
        background-size: 100px 100px;
    }
    .az-mobile-ionic {
        background-image: url("../img/ionic_logo.png");
    }
    .az-mobile-angular {
        background-image: url("../img/angularjs-logo.png");
    }
    .az-mobile-googlemap {
        background-image: url("../img/googlemap-logo.png");
    }
    .az-feature-row h3 {
        font-size: 20px;
        padding: 0;
        text-align: left;
    }
    .az-feature-row p {
        color: #858f9f;
        font-weight: 300;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0 0 0 120px;
        text-align: left;
    }
    #mobile-project {
        height: 700px;
    }
    #mobile-app h4 {
        font-size: 15px;
    }
    #mobile-app > i {
        font-size: 30px;
        width: 4%;
    }
    #mobile-app > div > p {
        padding-top: 0;
    }
    #mobile-project > div > img {
        max-height: 80%;
        max-width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    #mobile-project {
        height: 600px;
    }
}