@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'curlz-mt';
    src: url('../fonts/curlz-mt/CURLZ___.TTF');
}

* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}